In [111]:
import pandas as pd
import numpy as np

In [112]:
DATASET_PATH = 'housing.csv'
PREPARED_DATASET_PATH = 'housing_prepared.csv'

In [113]:
df = pd.read_csv(DATASET_PATH, index_col='id')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
id,,,,,,,,,,
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [114]:
df.shape

(20640, 10)

In [115]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  19918 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20041 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [117]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [118]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,19918.000000,20640.000000,20433.000000,20041.000000,20640.000000,20640.000000,20640.000000
mean,-119.471242,35.036934,28.653630,2635.763081,537.870553,1425.418243,499.539680,3.870671,206855.816909
std,5.041408,94.903955,12.576796,2181.615252,421.385070,1135.185798,382.329753,1.899822,115395.615874
min,-124.350000,-13534.030000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,786.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1165.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1726.000000,605.000000,4.743250,264725.000000
max,122.030000,1327.130000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [119]:
df.describe(include='object')

       ocean_proximity
count            20640
unique               6
top          <1H OCEAN
freq              9127

In [120]:
df['ocean_proximity'].value_counts()

<1H OCEAN     9127
INLAND        6542
NEAR OCEAN    2655
NEAR BAY      2288
-               23
ISLAND           5
Name: ocean_proximity, dtype: int64

In [121]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', '-', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [122]:
len(df) - df.count()

longitude               0
latitude                0
housing_median_age    722
total_rooms             0
total_bedrooms        207
population            599
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [123]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age    722
total_rooms             0
total_bedrooms        207
population            599
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [124]:
round(df.isna().mean()*100,3)

longitude             0.000
latitude              0.000
housing_median_age    3.498
total_rooms           0.000
total_bedrooms        1.003
population            2.902
households            0.000
median_income         0.000
median_house_value    0.000
ocean_proximity       0.000
dtype: float64

In [125]:
df['housing_median_age'].mean(), df['housing_median_age'].median()

(28.653629882518324, 29.0)

In [126]:
df.groupby('ocean_proximity')['housing_median_age'].median()

ocean_proximity
-             26.0
<1H OCEAN     30.0
INLAND        23.0
ISLAND        52.0
NEAR BAY      39.0
NEAR OCEAN    29.0
Name: housing_median_age, dtype: float64

In [127]:
df.loc[df['housing_median_age'].isna(), 'housing_median_age'] = df.groupby('ocean_proximity')['housing_median_age'].transform(lambda x: x.median())

In [128]:
df['housing_median_age'].describe()

count    20640.000000
mean        28.640455
std         12.384944
min          1.000000
25%         19.000000
50%         29.000000
75%         37.000000
max         52.000000
Name: housing_median_age, dtype: float64

In [129]:
df['total_bedrooms'].fillna(df['total_bedrooms'].median(), inplace=True)

In [130]:
df['population'].fillna(df['population'].median(), inplace=True)

In [131]:
df['ocean_proximity'].mode()[0]

'<1H OCEAN'

In [132]:
df.replace({'ocean_proximity': {'-' : df['ocean_proximity'].mode()[0]}}, inplace=True)

In [133]:
df['ocean_proximity'].value_counts()

<1H OCEAN     9150
INLAND        6542
NEAR OCEAN    2655
NEAR BAY      2288
ISLAND           5
Name: ocean_proximity, dtype: int64

In [134]:
df.replace({'ocean_proximity':{'ISLAND': 'NEAR OCEAN'}}, inplace=True)

In [135]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.471242,35.036934,28.640455,2635.763081,536.838857,1417.860562,499.539680,3.870671,206855.816909
std,5.041408,94.903955,12.384944,2181.615252,419.391878,1119.445348,382.329753,1.899822,115395.615874
min,-124.350000,-13534.030000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,19.000000,1447.750000,297.000000,797.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1165.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,643.250000,1701.000000,605.000000,4.743250,264725.000000
max,122.030000,1327.130000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [136]:
df['longitude'].describe()

count    20640.000000
mean      -119.471242
std          5.041408
min       -124.350000
25%       -121.800000
50%       -118.490000
75%       -118.010000
max        122.030000
Name: longitude, dtype: float64

In [137]:
df[(df['longitude']<-125) | (df['longitude'] > -114)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
id,,,,,,,,,,
3479,118.51,34.29,29.0,1287.0,194.0,525.0,187.0,6.4171,319300.0,<1H OCEAN
5904,118.43,34.29,39.0,1769.0,410.0,1499.0,390.0,3.1212,153500.0,<1H OCEAN
8405,118.36,33.93,40.0,1625.0,500.0,2036.0,476.0,2.6298,156500.0,<1H OCEAN
8636,118.41,33.88,43.0,2492.0,449.0,1033.0,437.0,7.9614,500001.0,<1H OCEAN
13051,121.29,38.61,17.0,13553.0,2474.0,6544.0,2359.0,3.9727,132700.0,INLAND
15263,117.27,33.02,21.0,2144.0,340.0,928.0,344.0,5.7980,286100.0,NEAR OCEAN
17085,0.00,37.47,33.0,1266.0,415.0,1991.0,334.0,2.9200,202800.0,NEAR OCEAN
17359,0.00,34.88,4.0,3680.0,559.0,1678.0,569.0,5.0639,201700.0,<1H OCEAN
18551,122.03,36.96,28.0,1607.0,421.0,926.0,385.0,2.4250,216100.0,NEAR OCEAN
19423,0.00,37.69,5.0,9601.0,1639.0,4449.0,1575.0,4.5332,195500.0,INLAND

In [138]:
df.loc[df['longitude'] > 0, 'longitude'] = df.loc[df['longitude']>0, 'longitude'] * -1
df.drop(df[df['longitude'] == 0].index, inplace=True)
df.shape

(20637, 10)

In [139]:
df[(df['latitude']<-32) | (df['latitude'] > 42)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
id,,,,,,,,,,
8283,-118.13,-13534.03,45.0,1016.0,172.0,361.0,163.0,7.5000,434500.0,NEAR OCEAN
12772,-121.42,1327.13,23.0,2217.0,536.0,1203.0,507.0,1.9412,73100.0,INLAND

In [140]:
df.drop(df[(df['latitude']<-32) | (df['latitude'] > 42)].index, inplace=True)

In [141]:
df.shape

(20635, 10)

In [143]:
df.groupby('ocean_proximity')['latitude'].median()

ocean_proximity
<1H OCEAN     34.03
INLAND        36.97
NEAR BAY      37.79
NEAR OCEAN    33.79
Name: latitude, dtype: float64

In [144]:
ocean_pr = pd.get_dummies(df['ocean_proximity'])
ocean_pr

       <1H OCEAN  INLAND  NEAR BAY  NEAR OCEAN
id
0              0       0         1           0
1              0       0         1           0
2              0       0         1           0
3              0       0         1           0
4              0       0         1           0
...          ...     ...       ...         ...
20635          0       1         0           0
20636          0       1         0           0
20637          0       1         0           0
20638          0       1         0           0
20639          0       1         0           0

[20635 rows x 4 columns]

In [147]:
# df = pd.compat([df, ocean_pr], axis=1)
df[ocean_pr.columns] = ocean_pr
ocean_pr.columns
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,<1H OCEAN,INLAND,NEAR BAY,NEAR OCEAN
id,,,,,,,,,,,,,,
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,0,0,1,0

In [149]:
ocean_pr.columns

Index(['<1H OCEAN', 'INLAND', 'NEAR BAY', 'NEAR OCEAN'], dtype='object')

In [150]:
df.cov()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,NEAR BAY,NEAR OCEAN
longitude,4.014369,-3.957263,-2.650270,1.952900e+02,5.818217e+01,2.226290e+02,4.246078e+01,-0.058231,-1.065942e+04,0.319490,-0.052052,-0.298417,0.030979
latitude,-3.957263,4.562400,0.207061,-1.688779e+02,-5.970169e+01,-2.580002e+02,-5.814559e+01,-0.323270,-3.550000e+04,-0.473578,0.348712,0.240521,-0.115655
housing_median_age,-2.650270,0.207061,153.352054,-9.491973e+03,-1.613776e+03,-3.950847e+03,-1.396091e+03,-2.650003,1.565772e+05,0.302256,-1.404580,1.012889,0.089435
total_rooms,195.290045,-168.877855,-9491.972996,4.757968e+06,8.480091e+05,2.061322e+06,7.658865e+05,820.949893,3.380005e+07,-3.200562,25.562021,-15.797022,-6.564437
total_bedrooms,58.182168,-59.701688,-1613.775911,8.480091e+05,1.758661e+05,4.045477e+05,1.562091e+05,-6.048561,2.398701e+06,3.746469,-1.275870,-2.587317,0.116717
population,222.629014,-258.000217,-3950.847141,2.061322e+06,4.045477e+05,1.252941e+06,3.820340e+05,9.765025,-3.119404e+06,41.255319,-10.379052,-21.595594,-9.280673
households,42.460777,-58.145590,-1396.090806,7.658865e+05,1.562091e+05,3.820340e+05,1.461484e+05,9.482673,2.909965e+06,8.055820,-7.076253,-1.211626,0.232059
median_income,-0.058231,-0.323270,-2.650003,8.209499e+02,-6.048561e+00,9.765025e+00,9.482673e+00,3.609244,1.508320e+05,0.158909,-0.209618,0.033461,0.017248
median_house_value,-10659.415299,-35499.998424,156577.167904,3.380005e+07,2.398701e+06,-3.119404e+06,2.909965e+06,150831.963477,1.331599e+10,14672.563323,-26009.905082,5817.888665,5519.453094
<1H OCEAN,0.319490,-0.473578,0.302256,-3.200562e+00,3.746469e+00,4.125532e+01,8.055820e+00,0.158909,1.467256e+04,0.246805,-0.140528,-0.049163,-0.057114
INLAND,-0.052052,0.348712,-1.404580,2.556202e+01,-1.275870e+00,-1.037905e+01,-7.076253e+00,-0.209618,-2.600991e+04,-0.140528,0.216499,-0.035144,-0.040827
NEAR BAY,-0.298417,0.240521,1.012889,-1.579702e+01,-2.587317e+00,-2.159559e+01,-1.211626e+00,0.033461,5.817889e+03,-0.049163,-0.035144,0.098590,-0.014283
NEAR OCEAN,0.030979,-0.115655,0.089435,-6.564437e+00,1.167174e-01,-9.280673e+00,2.320585e-01,0.017248,5.519453e+03,-0.057114,-0.040827,-0.014283,0.112224

In [153]:
df.corr().style.background_gradient(cmap='coolwarm').set_precision(2)

In [154]:

df.corr()['median_house_value'].sort_values()

INLAND               -0.484423
latitude             -0.144027
longitude            -0.046104
population           -0.024150
total_bedrooms        0.049568
households            0.065964
housing_median_age    0.109571
total_rooms           0.134283
NEAR OCEAN            0.142780
NEAR BAY              0.160569
<1H OCEAN             0.255942
median_income         0.688016
median_house_value    1.000000
Name: median_house_value, dtype: float64