In [113]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [114]:
data = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/competitions/3136/26502/train.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1632886018&Signature=rnYENhSIyJJLFqVB8c8jRTR9MBXA%2FloUKDjBC%2Fofh%2Bx%2BGmt74x2WLu%2Bs5VSSoUjnbdVQ68sbRYvs%2BphUrnx7NmN%2BjLyFV6B5E%2BuG5v%2BxDDk6bGl1xgXORyYR5uRjozidySoso82SjOo8V6I%2B3CziaG1pgEPOwJqKa%2F3l1PJONNZkwkreJQcb64BgUysGFojK3sWP7JLcmidSH2QRh%2Bxt7mGanAhTb2zdkfK9FGhsf5scOPQP1JYlAyuU%2F4amq2rWJpfxBDjc%2BWHpY1MPIKNHZCWlNS0c3XsgQdayDqj07jCWzrN2dmkgG2GMe3XgvWVMoudkYRTDrmmx86vhBmmMHA%3D%3D&response-content-disposition=attachment%3B+filename%3Dtrain.csv')

In [115]:
data.set_index('PassengerId')
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [116]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [117]:
target = 'Survived'

In [118]:
y = data[target]
x = data.drop(target, axis=1)

In [119]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Name         891 non-null    object
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB

In [120]:
x = x.drop(['Cabin', 'Name', 'Ticket'], axis=1)

In [121]:
mean_age = x['Age'].mean()
mean_age

29.69911764705882

In [122]:
x['Age'] = x['Age'].fillna(mean_age)
x['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 29.69911765,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

In [123]:
embarket_mode = x['Embarked'].mode()[0]
x['Embarked'].fillna(embarket_mode, inplace=True)
x['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [124]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Sex          891 non-null    object
 3   Age          891 non-null    float64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
 7   Embarked     891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [125]:
x['Sex'] = (x['Sex'] == 'female').astype(int)

In [126]:
x['Sex'].value_counts()

0    577
1    314
Name: Sex, dtype: int64

In [127]:
x = pd.get_dummies(x)

In [128]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Sex          891 non-null    int32
 3   Age          891 non-null    float64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
 7   Embarked_C   891 non-null    uint8
 8   Embarked_Q   891 non-null    uint8
 9   Embarked_S   891 non-null    uint8
dtypes: float64(2), int32(1), int64(4), uint8(3)
memory usage: 48.0 KB

In [129]:
x.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,3,0,22.0,1,0,7.2500,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,0
2,3,3,1,26.0,0,0,7.9250,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,0,1
4,5,3,0,35.0,0,0,8.0500,0,0,1

In [130]:
x['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [131]:
x['Pclass'] = x['Pclass'].astype('category')

In [132]:
x = pd.get_dummies(x)

In [133]:
x.columns

Index(['PassengerId', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C',
       'Embarked_Q', 'Embarked_S', 'Pclass_1', 'Pclass_2', 'Pclass_3'],
      dtype='object')

In [134]:
x.head()

,PassengerId,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
0,1,0,22.0,1,0,7.2500,0,0,1,0,0,1
1,2,1,38.0,1,0,71.2833,1,0,0,1,0,0
2,3,1,26.0,0,0,7.9250,0,0,1,0,0,1
3,4,1,35.0,1,0,53.1000,0,0,1,1,0,0
4,5,0,35.0,0,0,8.0500,0,0,1,0,0,1

In [135]:
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=.25, random_state=42)

In [136]:
lr = LogisticRegression()

In [137]:
lr.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [138]:
y_pred = lr.predict(x_valid)
y_pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0], dtype=int64)

In [139]:
from sklearn.metrics import accuracy_score

In [140]:
accuracy_score(y_valid, y_pred)

0.7937219730941704

In [141]:
y_pred_train = lr.predict(x_train)
accuracy_score(y_train, y_pred_train)

0.812874251497006

In [142]:
y_proba = lr.predict_proba(x_valid)
y_proba

array([[0.87830022, 0.12169978],
       [0.7325323 , 0.2674677 ],
       [0.85411973, 0.14588027],
       [0.08244227, 0.91755773],
       [0.27508707, 0.72491293],
       [0.08345352, 0.91654648],
       [0.33933644, 0.66066356],
       [0.90728889, 0.09271111],
       [0.255379  , 0.744621  ],
       [0.11527068, 0.88472932],
       [0.72049332, 0.27950668],
       [0.9292184 , 0.0707816 ],
       [0.61523954, 0.38476046],
       [0.85609037, 0.14390963],
       [0.76581649, 0.23418351],
       [0.07119323, 0.92880677],
       [0.72084838, 0.27915162],
       [0.31369156, 0.68630844],
       [0.67284273, 0.32715727],
       [0.7342763 , 0.2657237 ],
       [0.88835487, 0.11164513],
       [0.65020842, 0.34979158],
       [0.41502668, 0.58497332],
       [0.85970752, 0.14029248],
       [0.89486859, 0.10513141],
       [0.91768975, 0.08231025],
       [0.60845549, 0.39154451],
       [0.71463508, 0.28536492],
       [0.92202693, 0.07797307],
       [0.42754529, 0.57245471],
       [0.84858549, 0.15141451],
       [0.37927942, 0.62072058],
       [0.46213327, 0.53786673],
       [0.43080665, 0.56919335],
       [0.87132897, 0.12867103],
       [0.8569394 , 0.1430606 ],
       [0.62830369, 0.37169631],
       [0.34690852, 0.65309148],
       [0.06213716, 0.93786284],
       [0.89168789, 0.10831211],
       [0.73222641, 0.26777359],
       [0.91969774, 0.08030226],
       [0.88845476, 0.11154524],
       [0.84899471, 0.15100529],
       [0.44113329, 0.55886671],
       [0.91843254, 0.08156746],
       [0.8796416 , 0.1203584 ],
       [0.8826013 , 0.1173987 ],
       [0.89147717, 0.10852283],
       [0.65628967, 0.34371033],
       [0.26250971, 0.73749029],
       [0.19405401, 0.80594599],
       [0.96295499, 0.03704501],
       [0.45990134, 0.54009866],
       [0.95318205, 0.04681795],
       [0.07706271, 0.92293729],
       [0.76146768, 0.23853232],
       [0.05498638, 0.94501362],
       [0.19825859, 0.80174141],
       [0.2846178 , 0.7153822 ],
       [0.87457347, 0.12542653],
       [0.11604949, 0.88395051],
       [0.18954547, 0.81045453],
       [0.64075636, 0.35924364],
       [0.87240457, 0.12759543],
       [0.30311204, 0.69688796],
       [0.62203477, 0.37796523],
       [0.89938934, 0.10061066],
       [0.84185689, 0.15814311],
       [0.12925436, 0.87074564],
       [0.20672725, 0.79327275],
       [0.03631529, 0.96368471],
       [0.42625262, 0.57374738],
       [0.09193452, 0.90806548],
       [0.86588149, 0.13411851],
       [0.9292784 , 0.0707216 ],
       [0.31116269, 0.68883731],
       [0.06345176, 0.93654824],
       [0.21241274, 0.78758726],
       [0.5691691 , 0.4308309 ],
       [0.9454635 , 0.0545365 ],
       [0.18431125, 0.81568875],
       [0.08755373, 0.91244627],
       [0.84950869, 0.15049131],
       [0.70800237, 0.29199763],
       [0.76178933, 0.23821067],
       [0.06764976, 0.93235024],
       [0.06491065, 0.93508935],
       [0.68031723, 0.31968277],
       [0.90656327, 0.09343673],
       [0.8637048 , 0.1362952 ],
       [0.54037478, 0.45962522],
       [0.80033087, 0.19966913],
       [0.86520968, 0.13479032],
       [0.91104623, 0.08895377],
       [0.90072532, 0.09927468],
       [0.75243076, 0.24756924],
       [0.93844862, 0.06155138],
       [0.20359922, 0.79640078],
       [0.89662124, 0.10337876],
       [0.82364266, 0.17635734],
       [0.91125165, 0.08874835],
       [0.05125353, 0.94874647],
       [0.92169773, 0.07830227],
       [0.89167948, 0.10832052],
       [0.91046897, 0.08953103],
       [0.25282308, 0.74717692],
       [0.72464369, 0.27535631],
       [0.90541264, 0.09458736],
       [0.59038581, 0.40961419],
       [0.11829999, 0.88170001],
       [0.87957347, 0.12042653],
       [0.05990425, 0.94009575],
       [0.65998754, 0.34001246],
       [0.37438363, 0.62561637],
       [0.85143198, 0.14856802],
       [0.79691401, 0.20308599],
       [0.66857879, 0.33142121],
       [0.1839094 , 0.8160906 ],
       [0.66082147, 0.33917853],
       [0.79849979, 0.20150021],
       [0.06473385, 0.93526615],
       [0.27838301, 0.72161699],
       [0.58572007, 0.41427993],
       [0.87514387, 0.12485613],
       [0.52475832, 0.47524168],
       [0.17208954, 0.82791046],
       [0.41140716, 0.58859284],
       [0.33963337, 0.66036663],
       [0.87127982, 0.12872018],
       [0.33485034, 0.66514966],
       [0.89921664, 0.10078336],
       [0.73197276, 0.26802724],
       [0.22022067, 0.77977933],
       [0.65818128, 0.34181872],
       [0.22903258, 0.77096742],
       [0.04999911, 0.95000089],
       [0.90498351, 0.09501649],
       [0.92163458, 0.07836542],
       [0.40678545, 0.59321455],
       [0.86510738, 0.13489262],
       [0.25221385, 0.74778615],
       [0.71746994, 0.28253006],
       [0.79106025, 0.20893975],
       [0.49993664, 0.50006336],
       [0.23906867, 0.76093133],
       [0.73842981, 0.26157019],
       [0.90469523, 0.09530477],
       [0.05900591, 0.94099409],
       [0.9277261 , 0.0722739 ],
       [0.83946723, 0.16053277],
       [0.88117157, 0.11882843],
       [0.85253276, 0.14746724],
       [0.39577374, 0.60422626],
       [0.91095736, 0.08904264],
       [0.8960853 , 0.1039147 ],
       [0.8696721 , 0.1303279 ],
       [0.35557215, 0.64442785],
       [0.22623064, 0.77376936],
       [0.41250177, 0.58749823],
       [0.82635799, 0.17364201],
       [0.61393459, 0.38606541],
       [0.75530099, 0.24469901],
       [0.07158231, 0.92841769],
       [0.87887057, 0.12112943],
       [0.7665544 , 0.2334456 ],
       [0.68297182, 0.31702818],
       [0.12585495, 0.87414505],
       [0.87389987, 0.12610013],
       [0.91714367, 0.08285633],
       [0.45928968, 0.54071032],
       [0.15498772, 0.84501228],
       [0.65542651, 0.34457349],
       [0.2173649 , 0.7826351 ],
       [0.85939071, 0.14060929],
       [0.83193637, 0.16806363],
       [0.70414981, 0.29585019],
       [0.13311868, 0.86688132],
       [0.33880371, 0.66119629],
       [0.73359622, 0.26640378],
       [0.65581296, 0.34418704],
       [0.90874989, 0.09125011],
       [0.90588351, 0.09411649],
       [0.49429509, 0.50570491],
       [0.25842928, 0.74157072],
       [0.71895265, 0.28104735],
       [0.65591537, 0.34408463],
       [0.91229285, 0.08770715],
       [0.63836108, 0.36163892],
       [0.20570826, 0.79429174],
       [0.93524676, 0.06475324],
       [0.75545961, 0.24454039],
       [0.87841569, 0.12158431],
       [0.90843678, 0.09156322],
       [0.30397474, 0.69602526],
       [0.12246444, 0.87753556],
       [0.03240812, 0.96759188],
       [0.72536929, 0.27463071],
       [0.0777826 , 0.9222174 ],
       [0.55599159, 0.44400841],
       [0.96247213, 0.03752787],
       [0.40780653, 0.59219347],
       [0.1043885 , 0.8956115 ],
       [0.66486552, 0.33513448],
       [0.78509589, 0.21490411],
       [0.335571  , 0.664429  ],
       [0.88959509, 0.11040491],
       [0.68293833, 0.31706167],
       [0.83956753, 0.16043247],
       [0.94455876, 0.05544124],
       [0.32492494, 0.67507506],
       [0.90413467, 0.09586533],
       [0.08520825, 0.91479175],
       [0.86210947, 0.13789053],
       [0.62114794, 0.37885206],
       [0.91094002, 0.08905998],
       [0.1847301 , 0.8152699 ],
       [0.67149621, 0.32850379],
       [0.1387956 , 0.8612044 ],
       [0.90156495, 0.09843505],
       [0.91037664, 0.08962336],
       [0.15418937, 0.84581063],
       [0.89804065, 0.10195935]])

In [143]:
x_train.to_pickle('x_train.plk')
y_train.to_pickle('y_train.plk')

x_valid.to_pickle('x_valid.plk')
y_valid.to_pickle('y_valid.plk')